@import "../../scss/variables";
.root {
  li {
    display: inline-flex;

    a {
      color: $orange;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid $orange;
      border-radius: 30px;
      margin-left: 10px;
      transition: 0.1s ease-in-out;
      &:hover {
        background: $orange;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: $orange;
        color: white;
      }
    }
  }
}
