.container {
  position: relative;
  left: -200px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 47px;
  width: 350px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
}

.icon {
  left: 15px;
  top: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}

.close {
  width: 25px;
  height: 25px;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  top: 10px;

  &:hover {
    opacity: 1;
  }
}
